.browse-body {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding-bottom: 40px;
}

.recipe-link {
    text-align: center;
    background-color: #EFF1F7;
    margin: 10px;
    padding: 5px;
    border-radius: 25px;
}
    .recipe-link:hover {
        background-color: #87AAD1;
    }

    .recipe-link a {
        color: black;
        font-weight: bold;
        text-decoration: none;
    }

.browse-body h1 {
    text-align: center;
    margin-top: 10%;
    margin-left: 10px;
    margin-right: 10px;
    /* padding-left: 15px; */
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #2E3E55;
    color: white;
}
